<footer class="bg-dark">
    <div >
        <a href="/" class="navbar-brand text-white">
            <img src="/img/logo.png" alt="Logo" width="50px" height="50px" id="logo"> Perguntas e Respostas
        </a>   
    </div>
</footer>