</head>
<body>
<nav class="navbar navbar-light border">
    <a href="/" class="navbar-brand">
        <img src="/img/logo.png" alt="Logo" width="34px" height="33px" id="logo"> Perguntas e Respostas
    </a>
</nav>