<div class="col-auto col-md-1,5 min-vh-100 border">
    <div class="p-2">
        <ul class="nav nav-pills flex-column mt-3">
            <li class="nav-item">
                <a href="/" class="nav-link"><img src="" alt="">Página principal</a>
            </li>
            <li class="nav-item">
                <a href="/perguntas" class="nav-link"><img src="" alt="">Perguntas</a>
            </li>
            <li class="nav-item">
                <a href="/usuario" class="nav-link"><img src="" alt="">Usuários</a>
            </li>
            <li class="nav-item">
                <a href="/sobre" class="nav-link"><img src="" alt="">Sobre</a>
            </li>
            <li class="nav-item">
                <a href="/404" class="nav-link"><img src="" alt="">404</a>
            </li>
        </ul>
    </div>
</div>