    <%- include ('partials/head.ejs') %>
    <title>Perguntas e Respostas</title>
    <%- include ('partials/navbar.ejs') %>
    <%- include ('partials/sidebar.ejs') %>
    <br>
    <div class="container-lg">
        <h1>Página Sobre</h1>
    </div>
<%- include ('partials/script.ejs') %>